@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .container{
    @apply mx-auto max-w-1248px xl:max-w-984px lg:max-w-728px md:px-4 md:w-screen;
  }
  .tw-static{
    position: static !important;
  }
  .swiper-pagination-bullet {
    --tw-bg-opacity: 0.4;
    background-color: rgba(255, 183, 3, var(--tw-bg-opacity)) !important;
  }
  .swiper-pagination-bullet-active {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 183, 3, var(--tw-bg-opacity)) !important;
}
  button:disabled{
    @apply cursor-not-allowed opacity-40;
  }
  .btn-primary {
    @apply items-center inline py-3 text-base font-medium text-white border-0 rounded bg-f-yellow px-9 focus:outline-none hover:shadow-hover md:py-5 md:text-24;
  }
  .btn-secondary {
    @apply items-center inline py-3 text-base font-medium bg-transparent border-2 rounded text-f-yellow border-f-yellow px-9 focus:outline-none hover:underline md:py-5 md:text-24;
  }
  .btn-transparent {
    @apply items-center inline py-3 text-base font-medium bg-transparent border-0 rounded text-f-yellow px-9 focus:outline-none hover:underline md:py-5 md:text-24;
  }
  .breadcrumps-row{
    @apply flex flex-row text-f-grey;
  }
  .breadcrumps-row>*{
    @apply mx-4 text-16;
  }
  .breadcrumps-row>a{
    @apply text-f-blue hover:underline;
  }
  .breadcrumps-row>a:first-child{
    @apply ml-0;
  }
  .max-w-card{
    max-width: calc(25% - 1.125rem);
  }
  .tab-btn-active{
    @apply  block px-6 py-4 font-medium border-b-4 text-f-dark-blue text-24 focus:outline-none border-f-blue;
  }
  .tab-btn{
    @apply block px-6 py-4 font-normal text-f-dark-blue text-24 focus:outline-none hover:underline;
  }
  .header-active{
    display:inline-block;
    position:relative;
  }
  .header-active:before{
    content:" ";
    display: inline-block;
    position:absolute;
    height: 0.25rem;
    width:100%;
    background-color: #FFB703;
    left:-0.25rem;
    top:calc(50% - 0.125rem);
    z-index: -1;
  }
  .calendar *{
    min-width: 24px;

  }
  .inactive-date-calendar{
    @apply cursor-not-allowed text-16 text-f-grey;
  }
  .active-date-calendar{
    @apply font-medium cursor-pointer text-16 text-f-blue;
  }
  .sidebar-li{
    @apply block py-3 pl-5 mt-2 font-medium bg-transparent rounded-l-full rounded-r-sm text-16 text-f-white hover:underline focus:underline focus:outline-none;
  }
  .sidebar-li svg{
    @apply inline mr-4 stroke-current text-f-white;
  }
  .sidebar-li-active{
    @apply block py-3 pl-5 mt-2 font-medium rounded-l-full rounded-r-sm text-16 text-f-dark-blue bg-f-white hover:underline focus:underline focus:outline-none;
  }
  .sidebar-li-active svg{
    @apply inline mr-4 stroke-current text-f-dark-blue;
  }
  .tab-active{
    @apply font-medium border-b-4 border-f-blue;
  }
  .tab{
    @apply inline-block px-10 py-2 bg-white text-24 text-f-dark-blue;
  }
  .tab_small{
    @apply inline-block px-10 py-2 bg-white text-16 text-f-dark-blue;
  }
  .input{
    @apply flex flex-col mb-2;
  }
  /* .input>input{
    @apply pl-2;
  } */
  .input.alert>span{
    @apply visible;
  }
  .input.alert>input{
    @apply border-f-red;
  }
  .input-no-icon{
    @apply pl-2;
  }
  .input-email{
    @apply pl-10;
    background: url(img/mail.svg) no-repeat scroll 10px 10px;
  }
  .input-password{
    @apply pl-10;
    background: url(img/lock.svg) no-repeat scroll 10px 10px;
  }
    /* custom radio buttons */
  .custom-radio {
    @apply relative block pl-8 mb-3 cursor-pointer text-16;
  }
  .custom-radio input {
    @apply absolute opacity-0 cursor-pointer;
  }
  .checkmark {
    @apply absolute top-0 left-0 w-6 h-6 border rounded-full border-f-blue;
  }
  .checkmark:after {
    @apply absolute hidden;
    content: "";
  }
  .custom-radio input:checked ~ .checkmark:after {
    @apply block;
  }
  .custom-radio .checkmark:after {
    @apply rounded-full bg-f-blue;
    width:0.625rem;
    height:0.625rem;
    top:0.375rem;
    left:0.375rem;
  }
  /* end radio */

  /* testing for stars rating (experimental) */
  use{
    fill:#fff;
  }
  use.f-star{
    fill:#FFB703;
  }
  svg path {
    fill: inherit;
  }
  /* test end */

  .collapsed{
    @apply bg-f-16-blue;
  }
  .collapsed .collapse-body{
    @apply flex;
  }
  @media (max-width: 767px) {
    html{
      font-size: 10px;
    }
  }
}