@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn-primary {
    @apply inline items-center bg-f-yellow text-white font-medium rounded border-0 py-3 px-9 focus:outline-none hover:shadow-hover text-base;
  }
  .btn-secondary {
    @apply inline items-center bg-transparent text-f-yellow font-medium rounded border-2 border-f-yellow py-3 px-9 focus:outline-none hover:underline text-base;
  }
  .btn-transparent {
    @apply inline items-center bg-transparent text-f-yellow font-medium rounded border-0 py-3 px-9 focus:outline-none hover:underline text-base;
  }
  .breadcrumps-row{
    @apply flex flex-row text-f-grey;
  }
  .breadcrumps-row>*{
    @apply text-16 mx-4;
  }
  .breadcrumps-row>a{
    @apply text-f-blue hover:underline;
  }
  .breadcrumps-row>a:first-child{
    @apply ml-0;
  }
  .max-w-card{
    max-width: calc(25% - 1.125rem);
  }
  .tab-btn-active{
    @apply  text-f-dark-blue text-24 py-4 px-6 block focus:outline-none border-b-4 font-medium border-f-blue;
  }
  .tab-btn{
    @apply text-f-dark-blue text-24 py-4 px-6 block focus:outline-none font-normal hover:underline;
  }
  .header-active{
    display:inline-block;
    position:relative;
  }
  .header-active:before{
    content:" ";
    display: inline-block;
    position:absolute;
    height: 0.25rem;
    width:100%;
    background-color: #FFB703;
    left:-0.25rem;
    top:calc(50% - 0.125rem);
    z-index: -1;
  }
  .calendar *{
    min-width: 24px;

  }
  .inactive-date-calendar{
    @apply text-16 text-f-grey cursor-not-allowed;
  }
  .active-date-calendar{
    @apply text-16 text-f-blue font-medium cursor-pointer;
  }
  .sidebar-li{
    @apply block pl-5 py-3 mt-2 text-16 font-medium text-f-white bg-transparent rounded-r-sm rounded-l-full hover:underline focus:underline focus:outline-none;
  }
  .sidebar-li svg{
    @apply inline stroke-current text-f-white mr-4;
  }
  .sidebar-li-active{
    @apply block pl-5 py-3 mt-2 text-16 font-medium text-f-dark-blue bg-f-white rounded-r-sm rounded-l-full hover:underline focus:underline focus:outline-none;
  }
  .sidebar-li-active svg{
    @apply inline stroke-current text-f-dark-blue mr-4;
  }
  .tab-active{
    @apply font-medium border-b-4 border-f-blue;
  }
  .tab{
    @apply bg-white inline-block py-2 px-10 text-24 text-f-dark-blue;
  }
  .tab_small{
    @apply bg-white inline-block py-2 px-10 text-16 text-f-dark-blue;
  }
  .input{
    @apply flex flex-col mb-2;
  }
  /* .input>input{
    @apply pl-2;
  } */
  .input.alert>span{
    @apply visible;
  }
  .input.alert>input{
    @apply border-f-red;
  }
  .input-no-icon{
    @apply pl-2;
  }
  .input-email{
    @apply pl-10;
    background: url(img/mail.svg) no-repeat scroll 10px 10px;
  }
  .input-password{
    @apply pl-10;
    background: url(img/lock.svg) no-repeat scroll 10px 10px;
  }
    /* custom radio buttons */
  .container {
    @apply block relative pl-8 mb-3 cursor-pointer text-16;
  }
  .container input {
    @apply absolute opacity-0 cursor-pointer;
  }
  .checkmark {
    @apply absolute top-0 left-0 h-6 w-6 border-f-blue border rounded-full;
  }
  .checkmark:after {
    @apply absolute hidden;
    content: "";
  }
  .container input:checked ~ .checkmark:after {
    @apply block;
  }
  .container .checkmark:after {
    @apply rounded-full bg-f-blue;
    width:0.625rem;
    height:0.625rem;
    top:0.375rem;
    left:0.375rem;
  }
  /* end radio */

}