@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .btn-primary {
      @apply inline-flex items-center bg-f-yellow text-white font-medium rounded border-0 py-3 px-9 focus:outline-none hover:shadow-hover text-base;
    }
    .btn-secondary {
      @apply inline-flex items-center bg-transparent text-f-yellow font-medium rounded border-2 border-f-yellow py-3 px-9 focus:outline-none hover:underline text-base;
    }
    .btn-transparent {
      @apply inline-flex items-center bg-transparent text-f-yellow font-medium rounded border-0 py-3 px-9 focus:outline-none hover:underline text-base;
    }
    .breadcrumps-row{
      @apply flex flex-row text-f-grey;
    }
    .breadcrumps-row>*{
      @apply text-16 mx-4;
    }
    .breadcrumps-row>a{
      @apply text-f-blue hover:underline;
    }
    .breadcrumps-row>a:first-child{
      @apply ml-0;
    }
    .max-w-card{
      max-width: calc(25% - 1.125rem);
    }
    .tab-btn-active{
      @apply  text-f-dark-blue text-24 py-4 px-6 block focus:outline-none border-b-4 font-medium border-f-blue;
    }
    .tab-btn{
      @apply text-f-dark-blue text-24 py-4 px-6 block focus:outline-none font-normal hover:underline;
    }
    .header-active{
      display:inline-block;
      position:relative;
    }
    .header-active:before{
      content:" ";
      display: inline-block;
      position:absolute;
      height: 0.25rem;
      width:100%;
      background-color: #FFB703;
      left:-0.25rem;
      top:calc(50% - 0.125rem);
      z-index: -1;
    }
}